//! **************************************************************************
// Written by: Map P.28xd on Thu Apr 25 09:15:32 2013
//! **************************************************************************

SCHEMATIC START;
COMP "salTx" LOCATE = SITE "P9" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "datoRx" LOCATE = SITE "U6" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

